<a href="https://colab.research.google.com/github/buseacar/BuseTweet/blob/main/Python_Denemeler_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a='11'
print(a)
print(type(a))

11
<class 'str'>

In [ ]:
a=int(a)
print(a)
print(type(int(a)))

11
<class 'int'>

In [ ]:
b='x'
print(b)
print(type(b))

x
<class 'str'>

In [ ]:
b=int(b)  # bilinmeyen int olamaz hata verir

In [6]:
x=[14,25.5, 'yalova', ['ankara','london','paris','washington']]

In [7]:
x

[14, 25.5, 'yalova', ['ankara', 'london', 'paris', 'washington']]

In [9]:
x[-1][0:2]='istanbul','new york'

In [10]:
x

[14, 25.5, 'yalova', ['istanbul', 'new york', 'paris', 'washington']]

In [15]:
x[-1][-1:3]='one','two','three','four'# (-) olunca sondaki -1 diğerleri yine de sağdan sayılıyor

In [14]:
x

[14,
 25.5,
 'yalova',
 ['istanbul',
  'new york',
  'paris',
  'bir',
  'iki',
  'üç',
  'dört',
  'one',
  'two',
  'three',
  'four',
  'washington']]

In [16]:
x[:]

[14,
 25.5,
 'yalova',
 ['istanbul',
  'new york',
  'paris',
  'bir',
  'iki',
  'üç',
  'dört',
  'one',
  'two',
  'three',
  'four',
  'one',
  'two',
  'three',
  'four',
  'washington']]

In [19]:
x[1:] #1. eleman hariç

[25.5,
 'yalova',
 ['istanbul',
  'new york',
  'paris',
  'bir',
  'iki',
  'üç',
  'dört',
  'one',
  'two',
  'three',
  'four',
  'one',
  'two',
  'three',
  'four',
  'washington']]

In [ ]:
x[2,3] #sayıları sıralı seçebilir bunu yapamaz